* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  /* background-color: #18c5c5; */
  display: flex;
  justify-content: center;
  align-items: center;

}

.card {
background-color:rgb(68, 67, 68);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-left: 160px;
  width: 70%;
 height: 600px;
 color: white;
  text-align: center;
}



.card-content {
 
  flex-wrap: wrap;
}

.card-title {
  font-size: 1.5em;
  margin-bottom: 8px;
}

.card-text {
  font-size: 1em;
  color: #666;
  
  margin-bottom: 16px;
 margin-left: 20px;
}



